.food-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
  .food-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .food-item-name {
    text-align: center;
    margin-top: 10px;
  }
  
  .food-item-price {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .food-item-container {
      justify-content: center;
    }
  
    .food-item-image {
      width: 150px;
      height: 150px;
    }
  
    .food-item-name {
      margin-top: 18px;
      font-size: 16px;
    }
  
    .food-item-price {
      margin-top: 4px;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 500px) {
  
    .food-item-image {
      width: 90px;
      height: 90px;
    }
  }