.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  margin-right: 10px; /* Adjust margin between logo and company name */
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.header-search input:focus {
  border-color: #007bff;
}

@media (max-width: 768px) {
  .header-right {
    flex: 1;
    justify-content: flex-end;
  }

  .header-search {
    margin-left: auto; /* Push search bar to the right */
  }
}
