.menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 14px 9px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px; 
}

.company-name {
  font-size: 40px;
  font-weight: bold;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Adjust width as needed */
}

.dropdown-search {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
}

.search-bar input:focus + .dropdown-search {
  display: block;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
  flex-grow: 1; 
}

.menu-content::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.menu-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.menu-content::-webkit-scrollbar-button {
  background: #ccc;
}

.menu-content::-webkit-scrollbar-corner {
  background: #ccc;
}

.popup-card {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 600px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  padding: 10px 0px;
  border: 1px solid #ccc;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.card-image-container {
  text-align: center;
}

.card-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;
  padding: 0px; 
}

.popup-content {
  padding: 10px 20px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.menu-banner {
  text-align: center;
  object-fit: cover;
  max-width: 100%;
  width: 100%; 
  height: auto;
  padding: 0px 0px 10px 0px;
}

.banner-container {
  margin-top: 20px; 
}


@media (max-width: 450px) {
  .menu-content {
    padding-bottom: 10px;
  }

  .company-name {
    font-size: 20px;
  }

  .search-bar input {
    width: 120px; 
  }

  .submenu-button {
    font-size: 0.6rem; 
    padding: 6px 10px; 
  }
  
}

@media (max-width: 620px) {
.popup-card {
  padding: 20px 0px;
  width:80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .popup-card {
    height: 420px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .search-bar {
    position: relative;
  }

  .search-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .dropdown-search {
    display: none;
  }

  .search-bar input:focus + .dropdown-search {
    display: block;
  }
}
/* 
@media (max-width: 620px){
  .food-item-container.list-view {
    justify-content: space-around;
  }
} */