body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-y: auto; 
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1f6097, #233657, #111e29);
}

#root {
  max-width: 1100px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  #root {
    padding: 5px;
    margin: 5px;
  }
}